.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 0.75rem !important;
}

.m-4 {
    margin: 1rem !important;
}

.m-5 {
    margin: 1.25rem !important;
}

.m-6 {
    margin: 1.5rem !important;
}

.m-7 {
    margin: 1.75rem !important;
}

.m-8 {
    margin: 2rem !important;
}

.m-9 {
    margin: 2.25rem !important;
}

.m-10 {
    margin: 2.5rem !important;
}

.m-11 {
    margin: 2.75rem !important;
}

.m-12 {
    margin: 3rem !important;
}

.m-13 {
    margin: 3.25rem !important;
}

.m-14 {
    margin: 3.5rem !important;
}

.m-15 {
    margin: 3.75rem !important;
}

.m-16 {
    margin: 4rem !important;
}

.mt-0 {
    margin-top: 0rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}

.mt-5 {
    margin-top: 1.25rem !important;
}

.mt-6 {
    margin-top: 1.5rem !important;
}

.mt-7 {
    margin-top: 1.75rem !important;
}

.mt-8 {
    margin-top: 2rem !important;
}

.mt-9 {
    margin: 2.25rem !important;
}

.mt-10 {
    margin: 2.5rem !important;
}

.mt-11 {
    margin: 2.75rem !important;
}

.mt-12 {
    margin: 3rem !important;
}

.mt-13 {
    margin: 3.25rem !important;
}

.mt-14 {
    margin: 3.5rem !important;
}

.mt-15 {
    margin: 3.75rem !important;
}

.mt-16 {
    margin: 4rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}
.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}

.p-2 {
    margin: 0.5rem !important;
}

.p-3 {
    margin: 0.75rem !important;
}

.p-4 {
    margin: 1rem !important;
}

.p-5 {
    margin: 1.25rem !important;
}

.p-6 {
    margin: 1.5rem !important;
}

.p-7 {
    margin: 1.75rem !important;
}

.p-8 {
    margin: 2rem !important;
}

.p-9 {
    margin: 2.25rem !important;
}

.p-10 {
    margin: 2.5rem !important;
}

.p-11 {
    margin: 2.75rem !important;
}

.p-12 {
    margin: 3rem !important;
}

.p-13 {
    margin: 3.25rem !important;
}

.p-14 {
    margin: 3.5rem !important;
}

.p-15 {
    margin: 3.75rem !important;
}

.p-16 {
    margin: 4rem !important;
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}

.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-center {
    text-align: center;
}

.font-ligth {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 900;
}

a:link,
a:visited {
    text-decoration: none;
    color: var(--accent-color-400);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.right {
    display: block;
    margin-left: auto;
    width: fit-content;
}

.fill-current {
    fill: currentColor;
}

.cursor-pointer {
    cursor: pointer;
}

.table-container {
    max-width: 800px;
    min-width: 500px;
    margin-inline: auto;
}

.text-color-dark {
    color: var(--neutral-color-dark);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    background-color: white;

    thead {
        tr {
            background-color: var(--neutral-color-dark);
            color: var(--primary-color-300);
            text-align: left;
            font-weight: bold;
        }
    }

    th,
    td {
        padding: 12px 15px;
    }

    tbody {
        tr {
            border-bottom: 1px solid var(--neutral-color-ligth);
        }

        tr:nth-of-type(even) {
            background-color: var(--body-bg-color);
        }
    }

    tfoot {
        background-color: var(--neutral-color-dark);
        color: var(--primary-color-300);
        text-align: left;
    }
}

.paginator-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__header {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        align-items: center;
        /* flex: 1 1 0%; */
        a:link,
        a:visited {
            color: var(--primary-color-300) !important;
        }
    }
    &__firstpage {
        position: relative;
        display: inline-flex;
        align-items: center;
        color: var(--neutral-color-ligth);
        border: 1px solid var(--accent-color-400);
        cursor: default;
        padding: 4px 12px;
    }
    &__not-firstpage {
        position: relative;
        display: inline-flex;
        align-items: center;
        border: 1px solid var(--accent-color-400);
        cursor: pointer;
        padding: 4px 12px;
    }
    &__nextpage {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 4px 12px;
    }
    &__not-nextpage {
        color: var(--neutral-color-ligth);
        border: 1px solid var(--accent-color-400);
        padding: 4px 12px;
    }
    &__currentpage {
        color: var(--neutral-color-ligth);
        background-color: var(--accent-color-400);
        border: 1px solid var(--accent-color-400);
        padding: 4px 12px;
    }
    &__page {
        border: 1px solid var(--accent-color-400);
        padding: 4px 12px;
    }
}

svg {
    fill: currentColor !important;
    cursor: pointer;
}

.user-table {
    &__actions {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    &__edit-icon,
    &__remove-icon,
    &__info-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}
